body {
    width: 100%;
    font-family: sans-serif;
    background-color: #0d0d0e;
}

.pane {
    width: 90%;
    margin: auto;
    border: 2px solid;
    border-radius: 2%;
    padding: 5px;
    border-color: #999999;
    background-color: #130036
}

.header {
    left: 50%;
    text-align: center;
}

h1 {
    color: #e9dddd;
    font-family: 'georgia', serif;
    margin: 0;
    border-bottom: 2px solid #eee;
}

p {
    color: #cccccc;
}

.content {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    color: #b4afae;
}