body {
    width: 100%;
    font-family: sans-serif;
    background-color: #0d0d0e;
}

.pane {
    width: 90%;
    position: relative;
    left: 5%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    border-color: #999999;
    background-color: #130036
}

.top {
    border-bottom: 2px solid #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header {
    width: 80%;
}

h1 {
    width: 40%;
    position: relative;
    left: 50%;
    color: #e9dddd;
    font-family: 'georgia', serif;
    margin: 1%;
}

.login {
    width: 20%;
    color: aliceblue;
    text-align: center;
}

.login-img {
    width: 20%;
}

.content,
.mob-content,
.PC-content {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.add-item {
    position: relative;
    left: 50%;
}

.navigate {
    width: 10%;
}

.products {
    width: 20%;
}

p {
    color: #cccccc;
}

a {
    color: #b4afae;
    text-decoration: none;
}

.add-tag {
    text-decoration: underline;
    color: antiquewhite
}

.flash {
    color: aliceblue;
    background: #cee5f5;
}

img {
    width: 80%;
    border-radius: 5%;
}