<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/category.css')}}">
    </head>

    <body>
        <div class="pane">

            <div class="header">
                <h1>Mobily Store</h1>
            </div>
            </br>
            <div class="flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="content">
                <div class="navigation">

                    <div class="navigate">
                        {% for item in mobile_items %}
                            {% if item.name == 'Cables' %}
                            <p><a href=" {{url_for('cables_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Chargers' %}
                            <p><a href=" {{url_for('chargers_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Headsets' %}
                            <p><a href=" {{url_for('headsets_store')}} ">{{item.name}}</a></p>
                        </br>
                            {%endif%}
                        {%endfor%}
                    </div>
                </br>
                    <div class="navigate"> 
                        {% for item in PC_items %}
                            {% if item.name == 'Mouses' %}
                            <p><a href=" {{url_for('mouses_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Keyboards' %}
                            <p><a href=" {{url_for('keyboards_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Flash Drivers'  %}
                            <p><a href=" {{url_for('drives_store')}} ">{{item.name}}</a></p>
                        </br>
                            {%endif%}
                        {%endfor%}
                        </div>
                    </div>
                </br>
                <div class="all-products">
                    {% for item in all_drivers %}
                    <div class="products">
                        <a href="{{url_for('itemdetail', item_id=item.id)}}">
                            {% if item.image_url[0:4]=='http' %}
                            <img src={{item.image_url}}>
                            {% else %}
                            <img src="{{ url_for('static', filename=item.image_url) }}" alt="{{item.name}} image"></a>
                            {% endif %}                        <p> {{item.description}} </p>
                        <p> {{item.price}} </p>
                        </br>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="add-item">
                <a class="add-tag" href=" {{url_for('newItem', store__id=6)}} "> Add New Item </a>
            </div>
        </div>
    </body>
</html>