<html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styling__main.css') }}">
    </head>
    
    <body>
        <!-- Header contains Title and log in/out button -->
        <div class="pane">
            <div class="top">
                <div class="header">
                    <h1>Mobily Store</h1>
                </div>
                <div class="login">
                    <a href=" {{url_for('showlogin')}}" >
                        <img class="login-img" src="{{url_for('static', filename='img/loginButton.jpg')}}" alt="Log In">
                    </a>
                </div>
            </div>
        </br>

            <!-- Content of page (Navigation bar and sample of store items) -->
            <div class="content">
                <div class="mob-content">
                    <div class="navigate">
                        {% for item in mobile_items %}
                            {% if item.name == 'Cables' %}
                            <p><a href=" {{url_for('cables_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Chargers' %}
                            <p><a href=" {{url_for('chargers_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Headsets' %}
                            <p><a href=" {{url_for('headsets_store')}} ">{{item.name}}</a></p>
                        </br>
                            {%endif%}
                        {%endfor%}
                    </div>

                    <!-- Reloading one item from each category -->
                    {% for i in range(0,1) %}
                    <div class="products">
                        <a href=" {{url_for('itemdetail', item_id=all_cables[i].id)}} ">
                        <img src="{{ url_for('static', filename=all_cables[i].image_url) }}" alt="{{all_cables[i].name}} image"></a>
                        <p> {{all_cables[i].description}} </p>
                        <p> {{all_cables[i].price}} </p>
                        </br>
                    </div>

                    <div class="products">
                        <a href=" {{url_for('itemdetail', item_id=all_chargers[i].id)}} ">
                        <img src="{{ url_for('static', filename=all_chargers[i].image_url) }}" alt="{{all_chargers[i].name}} image"></a>
                        <p> {{all_chargers[i].description}} </p>
                        <p> {{all_chargers[i].price}} </p>
                    </br>
                    </div>

                    <div class="products">
                        <a href=" {{url_for('itemdetail', item_id=all_headsets[i].id)}} ">
                        <img src="{{ url_for('static', filename=all_headsets[i].image_url) }}" alt="{{all_headsets[i].name}} image"></a>
                        <p> {{all_headsets[i].description}} </p>
                        <p> {{all_headsets[i].price}} </p>
                    </br>
                    </div>
                    {%endfor%}
                </div>
            </br>
            </br>

                <div class="PC-content">

                    <div class="navigate"> 
                        {% for item in PC_items %}
                            {% if item.name == 'Mouses' %}
                            <p><a href=" {{url_for('mouses_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Keyboards' %}
                            <p><a href=" {{url_for('keyboards_store')}} ">{{item.name}}</a></p>
                        </br>
                            {% elif item.name == 'Flash Drivers'  %}
                            <p><a href=" {{url_for('drives_store')}} ">{{item.name}}</a></p>
                        </br>
                            {%endif%}
                        {%endfor%}
                    </div>     
                
                    <!-- Reloading one item from each category -->
                    {% for i in range(0,1) %}
                    <div class="products"> 
                        <a href=" {{url_for('itemdetail', item_id=all_mouses[i].id)}} ">
                        <img src="{{ url_for('static', filename=all_mouses[i].image_url) }}" alt="{{all_mouses[i].name}} image"></a>
                        <p> {{all_mouses[ i].description}} </p>
                        <p> {{all_mouses[i].price}} </p>
                    </div>

                    <div class="products"> 
                        <a href=" {{url_for('itemdetail', item_id=all_keyboards[i].id)}} ">
                        <img src="{{ url_for('static', filename=all_keyboards[i].image_url) }}" alt="{{all_keyboards[i].name}} image"></a>
                        <p> {{all_keyboards[i].description}} </p>
                        <p> {{all_keyboards[i].price}} </p>
                    </div>

                    <div class="products">
                        <a href=" {{url_for('itemdetail', item_id=all_drivers[i].id)}} ">
                        <img src="{{ url_for('static', filename=all_drivers[i].image_url) }}" alt="{{all_drivers[i].name}} image"></a>
                        <p> {{all_drivers[i].description}} </p>
                        <p> {{all_drivers[i].price}} </p>
                    </div>
                    {%endfor%}                    
                </div>
            </div>
        </div>     
    </body>
</html>